[submodule "1BIT/IJC"]
	path = 1BIT/IJC
	url = https://github.com/hungdojan/IJC_Projekty
[submodule "1BIT/IVS/prj1"]
	path = 1BIT/IVS/prj1
	url = https://github.com/hungdojan/IVS_Projekt1
[submodule "1BIT/IVS/prj2"]
	path = 1BIT/IVS/prj2
	url = https://github.com/hungdojan/IVS_Kalkulacka
[submodule "2BIT/IFJ"]
	path = 2BIT/IFJ
	url = https://github.com/hungdojan/IFJ21_compiler
[submodule "2BIT/ITU"]
	path = 2BIT/ITU
	url = https://github.com/Darbix/Reklamacka
[submodule "2BIT/ICP"]
	path = 2BIT/ICP
	url = https://github.com/hungdojan/ICP_Project
[submodule "2BIT/IJA"]
	path = 2BIT/IJA
	url = https://github.com/hungdojan/IJA_Project
